.pad-horizontal-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.title {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

.spacer {
  flex: 1 1 auto;
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.color {
  background-color: #5B7F93;
}

.button {
  background-color: #DA6030;
}

@media only screen and (max-width: 600px) {
  .hide-button {
    display: none;
  }
}
