<p>
  <mat-toolbar class="color">
    <span class="title pad-horizontal-30">Mindful Path Nutrition</span>
    <span class="spacer"></span>
    <div *ngIf="!linksDisabled">
      <a class="pad-horizontal-30 no-decoration" href="/about">About Us</a>
      <a class="pad-horizontal-30 no-decoration" href="/about">Services</a>
      <a class="pad-horizontal-30 no-decoration" href="/about">Appointments</a>
      <a class="pad-horizontal-30 no-decoration" href="/about">FAQ</a>
      <a class="pad-horizontal-30 no-decoration" href="/about">Contact Us</a>
    </div>
    <button mat-raised-button class="button hide-button" (click)="routeBooking()">Book
      Now</button>
  </mat-toolbar>
</p>