.container{
  margin-top: 30px;
  // margin: 10px;
  // display: flex;
// justify-content: center
 // height: 2000px;
//   display: inline;
  // align-items: flex-start;
  // flex-wrap: wrap;
  // padding: 10px;
  // width: 80%;
  // background-color: white;
}

.body {
  background-color: whitesmoke;
}

.card-welcome {
  padding: 10px;
}

.card-contact {
  width: 400px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.card-about {
  margin-left: auto;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 1200px;
  max-width: 1800px;
}

.image-owner {
  max-height: 300px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

.content {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-size: 1.4em;
}

.center {
  text-align: center;
}
.button {
  background-color: #DA6030;
}

.subheading {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.display-start >::ng-deep .mat-figure {
  align-items: flex-start;
}
