<div class="body">
  <img src="/assets/image-logo.jpg" class="image">

  <div class="container">

    <div class="row">
      <div class="col-lg-8">
        <mat-card class="card-welcome">
          <mat-card-content class="content">
            <p>
              Welcome!
            </p>

            <p> Thank you for coming. Here at Mindful Path Nutrition LLC, your health and wellbeing are the
              #1 priority.
              I
              offer
              nutritional counseling in a collaborative format, using recommendations and ideas that are
              backed by
              science. </p>

            <p>
              Together, we can improve your health with: </p>
            <ul>
              <li>whole foods</li>
              <li>habit change</li>
              <li>and a positive attitude</li>
            </ul>



            <p>I work
              with
              people with a variety of health conditions, and also those who just want to improve their
              overall
              wellbeing.
              Please look around, and feel free to reach out with any questions.
            </p>
            <p> My approach to nutritional counseling is focused around total body wellness. You are after
              all, a body
              and a
              mind. Getting these two powerhouses working together as one is optimal. I believe that this
              synergy is
              essential
              to healing by connecting our conscious behaviors to our health choices. In my sessions, we
              go deep.</p>

            <p> We will discuss:</p>
            <ul>
              <li>the way you eat</li>
              <li>what you eat</li>
              <li>how you eat it</li>
              <li>how you feel</li>
              <li>the health conditions that you may be struggling with (or conquering!)</li>
              <li>sleep</li>
              <li>mental health</li>
              <li>health history, and more</li>
            </ul>
            <p>Working with me takes commitment from both of us. Commitment from me to provide you
              with the best
              possible
              care and support, and for you to commit to improving your health. Don’t worry, I’ll make
              this as painless
              as
              possible. Real change is seen in those that make small changes over time. We can do this!
            </p>
          </mat-card-content>
          <div class="center">
            <button mat-raised-button class="button" (click)="routeBooking()">Book
              Now</button>
          </div>

        </mat-card>

        <mat-card class="card-contact">
          <mat-card-content class="content">
            <h2>
              Contact Me
            </h2>
            <p>Marissa Halterman, M.S.</p>
            <p>mindfulpathnutrition@gmail.com</p>
            <p>Instagram: <a href="https://www.instagram.com/mindful_path_nutrition/"
                target="_blank">mindful_path_nutrition</a></p>
            <p>Facebook: <a href="https://www.facebook.com/mindfulpathnutritionllc/" target="_blank">Mindful Path
                Nutrition, LLC</a></p>
          </mat-card-content>
        </mat-card>

      </div>
      <div class="col-lg-4">
        <mat-card class="card-about">
          <mat-card-content class="content">
            <div class="center">
              <img src="/assets/image-owner.png" class="image-owner">
            </div>

            <h2>About Me</h2>

            <p>My name is Marissa, and I’m a Clinical Nutritionist and Clinical Nutrition Specialist
              (CNS)
              candidate.
              What’s
              that? A Clinical Nutritionist has completed a Master’s degree in Clinical Nutrition, and
              I’m
              currently
              working
              towards my CNS designation through the BCNS by completing 1,000 supervised clinical
              hours
              and sitting for
              a
              board exam. Clinical nutritionists are focused on holistic, evidence-based nutrition
              care
              for all people
              and
              health conditions. It is the most advanced certification for personalized nutrition
              practitioners.
            </p>

            <h2>
              My Story </h2>
            <p>
              My history with nutrition is a bit… messy. I’ve dealt with chronic migraines for a large portion of my
              life, pushing me to see neurologists, various specialists, and other alternative medicine providers.
              Nothing worked for me. There was no magic pill that took away my pain, and it was seriously affecting my
              life. I needed a better option, and I needed one fast. So I left my advertising job, moved across the
              country and did some soul searching. I had spent most of my time researching migraines and possible
              ‘cures’ and it was getting exhausting.
            </p>
            <p>
              I had tried everything, every pill, supplement, herbal remedy, massage technique, etc.
              and
              nothing helped.
              I
              was still in pain, and often. So I decided to devote my life to improving health and
              improving pain
              outcomes.
              There is nothing that matters to me more than this. Through my nutrition education I’ve
              reduced my own
              migraines and gotten my life back. I know what it’s like to feel like you’ve run out of
              options, or if you
              are
              just starting out on your health journey, how it feels to not have any support. I’m
              dedicated to helping
              heal
              the body, through nutrition, through mindfulness, and through re-evaluation of
              behaviors.
              You are capable
              of
              feeling better, and you deserve to feel your absolute best. So what’s stopping you?
              Let’s
              work together.

            </p>

          </mat-card-content>

        </mat-card>
      </div>



    </div>

  </div>

</div>
